@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
/*System-Start*/

*{
    box-sizing: border-box;
    color: white;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Poppins", sans-serif;
    background-color: black;
}
h1,h2{
    font-family: "Saira", sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

/************/
.black{
    color: black;
}
.white{
    color: white;
}
.blue{
    color: blue;
}
/***********/
/*System-End*/
/*Header Start*/
header{
    height: 100vh;
}
#Home .logo{
    font-size: 24px;
    font-weight: 600;
}
.container{
    max-width: 1100;
    margin: auto;
    padding: 0 2rem;
}
header .Navbar{
    background-color: blue;
    border-bottom: 1px blue;
    position: fixed;
    width: 100%;
    z-index: 1;
}
header .Navbar nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 1100px;
    padding: 1.5rem 2rem;
}
header .Navbar nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}
header .Navbar nav ul a{
    margin: 0 15px;
    color: white;
    font-weight: 600;
    transition: 0.7s;
}
/*
.z1{
    
    width: 110px;
    height: 50px;
    margin-left: 1cm ;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 3px 3px 20px 3px black;
    background-color: rgb(0, 0, 0);
    transition: 0.5s;
}
.z1:hover{
    color: blue;
    width: 90px;
    height: 44px;
    font-size: 13px;
}
    */
    
header .Navbar nav ul a:hover{
    color: black;
}
header .header-contant{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: center;
    padding: 5rem 2rem;
    max-width: 1100px;
    margin: auto;
    height: 100%;
}
header .header-contant .contant-text{
    margin-top: 4rem;
}
header .header-contant .img img{
    max-width: 430px;
    border-radius: 50%;
    margin-top: 4rem;
    animation: animation1 1.2s ease-out
}
#Home .header-contant p span{
    font-weight: 700;
    font-size: 20px;
}
#Home .header-contant h1{
    font-size: 60px;
    margin-top: 10px;
}
#Home .header-contant p {
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0;
}
#Home .header-contant .social{
    margin: 1rem 0.2rem;
}
#Home .header-contant .social a i{
    font-size: 18px;
    margin-right: 10px;
    padding: 10px;
    transition: 0.3s;
    background-color: blue;
    border-radius: 50%
    
}
#Home .header-contant .social a i:hover{
    transform: scale(0.85);
}
.about{
    background-color: blue;
    color: white;
    padding: 8px 20px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: 0.5s;
}
.about:hover{
    opacity: 0.7;
}
/*Header End*/
/*About Start*/
#about,
.Skills {
    padding: 6rem 0;
    max-width: 1100;
}
#about h2
#contact h2{
    text-align: center;
    font-size: 38px;
    font-weight: 600;
    letter-spacing: 1px;
}
hr{
    width: 120px;
    height: 3px;
    background-color: blue;
    border: none;
    margin: 5px auto 0;
}
#about .about-content{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 3rem;
}
#about .about-content .col-1 h3{
    font-size: 28px;
    margin-bottom: 20px;
}
#about .about-content .col-1 p{
    line-height: 1.8;
}
#about .about-content .col-2 p{
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 2px solid blue;
}
/*About End*/
/*Skills Start*/
.skills-content {
    padding: 6rem 0;
}
.container h2{
    text-align: center;
    font-size: 38px;
    font-weight: 600;
    letter-spacing: 1px;
}
.container hr{
    width: 120px;
    height: 3px;
    background-color: blue;
    border: none;
    margin: 5px auto 0;
}
#Skills .row img{
    max-width: 50px;
}
#Skills .skills-content{
    margin-top: 2rem;
    background-color: blue;
    border-radius: 10px;
    height: 340px;
}
#Skills .skills-content .row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-align: center;
}
#Skills .skills-content .row .item{
    background-color: black;
    margin: 20px;
    padding: 1rem;
    border-radius: 11px;
    font-size: 18px;
}
.Sass{
    border-radius: 50%;
}
.skills-content{
    padding: 10px;
    margin: 0px;
}
/*Skills End*/
/* Services Start */
    #Services .row {
    display: flex;
    grid-template-columns: repeat (3, 1fr);
    margin-top: 4rem;
    text-align: center;
    }
    #Services .row .item{
        background-color: black;
        padding: 50px 25px;
        box-shadow: 3px 3px 3px 3px blue;
        width: 340px;
        height: 300px;
        margin-top: 1rem;
        margin-left: 4rem;
        border-radius: 5px;
        border: 3px blue solid;
        transition: 0.3s;
    }
    #Services .row .item:hover{
        transform: scale(1.1);
    }
    #Services .row .item i{
        font-size: 90px;
        margin-bottom: 1rem;
    }
    #Services .row .item p{
        font-size: 14px;
    }
    /* Services End */
    /*contact*/
    .contact-h{
        margin-top: 6rem;
    }
    #contact img{
        width: 500px;
    }
    #contact{
        padding: 4rem 0;
    }
    #contact .row{
        margin-top: 4rem;
        height: 410px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        box-shadow: 3px 3px 20px 3px blue;
        padding: 2rem 3rem;
        border-radius: 20px;
    }
    #contact .row input, 
    #contact .row textarea{
        display: block;
        width: 100%;
        margin: 20px 0;
        padding: 10px;
        outline: none;
        border: none;
        background-color: rgba(47, 47, 119, 0.335);
    }
    @keyframes  animation1 {
        0%{
            transform: translateX(500px);
        }
        100%{
            transform: translateX(0);
        }
    }

/* Tablet Responsive */
@media (max-width: 850px) {
    #Home .Navbar nav{
        display: block;
        text-align: center;
        font-size: 10px;
    }
    #Home .Navbar nav ul{
        margin-top: 10px;
        font-size: 200px;
    }
    #Home .Navbar nav ul a{
        display: none;
    }
    #Home .header-contant{
        grid-template-columns: 1fr;
    }
    #Home .header-contant .contant-text{
        margin-bottom: 0;
        margin-top: 2rem;
    }
    #Home .header-contant img{
        max-width: 360px;
        margin-top: 10px;
    }
    #about{
        margin-top: 4rem;
    }
    #about .about-content,
    #contact .row{
        grid-template-columns: 1fr;
        row-gap: 3rem;
    }
    #Skills .skills-content .row{
        display: block;
    }
    #Skills .skills-content{
        height: 850px;
    }
    #Services .row{
        display: block;
        margin-left: 17%;
        width: 300px;
        height: 320px;
    }
    #Services .row .item{
        margin-top: 2rem;
    }
    .contact-h{
        margin-top: 44rem;
    }
    #contact .row{
        grid-template-columns: 1fr;
        row-gap: 3rem;
        height: 940px;
    }
    #contact .row img{
        max-width: 450px;
        margin: auto;
    }
}
/***************************/
@media (max-width: 579px){
    #Home .Navbar nav{
        display: block;
        text-align: center;
        font-size: 10px;
    }
    #Home .Navbar nav ul{
        margin-top: 10px;
        font-size: 200px;
    }
    #Home .Navbar nav ul a{
        display: none;
    }
    #Home .header-contant{
        grid-template-columns: 1fr;
    }
    #Home .header-contant .contant-text{
        margin-bottom: 0;
        margin-top: 5rem;
    }
    #Home .header-contant img{
        max-width: 280px;
        margin-top: 3rem;
    }
    #Skills .skills-content .row{
        display: block;
    }
    #Skills .skills-content{
        height: 850px;
    }
    #Services .container{
        margin-top: 50px;
        }
    #Services .row{
            display: block;
            margin-left:43%;
            

    }
    .contact-h{
        margin-top: 44rem;
        max-width: 400px;
    }
    #contact .row{
        grid-template-columns: 1fr;
        row-gap: 3rem;
        height: 750px;
    }
    #contact .row img{
        max-width: 218px;
        
    }
}
